:root {
    --display-screen-clr: #121212;
    --child-backgrnd-clr: #0D0D0D;
    --button-color: #1A1A1A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(0, 130, 130);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--child-backgrnd-clr);
    width: 400px;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    border-radius: 1rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

form input {
    padding: 1rem;
    font-size: clamp(14px, 2vw, 18px);
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
    box-shadow: -5px -5px 10px rgba(190, 187, 187, 0.15);
    cursor: pointer;
}

form .display-con {
    width: 370px;
}

form .display-con input {
    width: 100%;
    background-color: var(--display-screen-clr);
    font-size: clamp(50px, 4vw, 30px);
    text-align: right;
    color: white;
    font-weight: bold;
    overflow: hidden;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn input {
    width: 80px;
}

.last-btn-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.last-btn-con input {
    width: 80px;
}

.last-btn-con input:last-child {
    width: 160px;
}

.s {
    color: aqua;
    font-weight: bold;
}